@define-color bg #000000;
@define-color fg #cdd6f4;
@define-color focus #313244;
@define-color urgent #ff0000;
@define-color warning #ff0000;

* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: @fg;
    /*font-family: "Symbols Nerd Font Mono", "Meslo LG S";*/
    font-family: "Symbols Nerd Font Mono", "Fira Code";
    font-size: 14px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-shadow: none;
    transition-duration: 0s;
    transition-property: background-color;
}

tooltip {
    background: @bg;
    border: 1px solid @fg;
}

tooltip label {
    color: @fg;
}

.modules-right * {
    margin: 2px 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>* {
    margin-top: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>* {
    margin-bottom: 0;
}

window#waybar {
    background-color: @bg;
}

#idle_inhibitor {
    /*padding: 1px 0px;*/
}

#idle_inhibitor.activated {
    background-color: @fg;
    color: @bg;
}

/* sway/scratchpad */
#scratchpad {
    /*padding: 1px 0px;*/
    background-color: #e78a4e;
    color: #282828;
}

/* sway/workspaces */
/*#workspaces {}*/

#workspaces button:hover {
    background: @bg;
}

#workspaces button:hover.focused {
    background: @focus;
}

#workspaces button.visible {
    background-color: @focus;
}

#workspaces button.focused {
    background: @focus;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#workspaces button.visible.urgent {
    background-color: @urgent;
}

#workspaces button.urgent.focused {
    background: @urgent;
}

/* sway/mode */
#mode {
    /*padding: 3px 0px;*/
    background-color: #e78a4e;
    color: #282828;
}

/* sway/window */
#window {
    padding-left: 12px;
    margin-bottom: 25px;
    margin-top: 10px;
}

#tray {
    /*padding: 1px 0px;*/
}

#tray menu {
    background-color: #282828;
    border: 1px solid #a9b665;
}

#tray * :hover {
    background-color: #3b4439;
}

#tray>.needs-attention {
    background-color: #ea6962;
}

/* pulseaudio */
#pulseaudio {
    /*padding: 1px 0px;*/
}

#pulseaudio.bluetooth {
    background-color: #7daea3;
}

/* pulseaudio#source */
#pulseaudio.source {
    /*padding: 2px 0px;*/
    background-color: #ea6962;
    color: #1b1b1b;
}

#pulseaudio.source.source-muted {
    background-color: #1b1b1b;
    color: #d4be98;
}

#network {
    /*padding: 2px 0px;*/
}

#network.disconnected {
    background-color: @urgent;
    color: @bg;
}

#network.disabled {
    background-color: @fg;
    color: @bg;
}

#bluetooth {
    /*padding: 1px 0px;*/
}

#bluetooth.connected {
    color: #7daea3;
}

#cpu {
    /*padding: 1px 0px;*/
}

#memory {
    /*padding: 1px 0px;*/
}

#temperature {
    /*padding: 1px 0px;*/
}

#temperature.critical {
    background-color: @urgent;
    color: @bg;
}

#backlight {
    /*padding: 1px 0px;*/
    font-size: 18px;
}

#battery {
    /*padding: 2px 0px;*/
}

#battery.warning:not(.charging) {
    background-color: @warning;
    color: @bg;
}

#battery.critical:not(.charging) {
    background-color: @urgent;
    color: @bg;
}

#clock {
    padding-top: 2px;
    background-color: @fg;
    color: @bg;
}
